/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
label { display:flex;align-items:center;}
label span {margin-right:16px;width:100px;}

app-navigation {
  width:150px;
}
